<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntdUI" version="2.1.1" targetFramework="net47" />
  <package id="Markdown" version="2.2.1" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.14.40254" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Interop" version="17.14.40260" targetFramework="net47" />
  <package id="NetOfficeFw.Core" version="1.9.7" targetFramework="net47" />
  <package id="NetOfficeFw.Office" version="1.9.7" targetFramework="net47" />
  <package id="NetOfficeFw.VBIDE" version="1.9.7" targetFramework="net47" />
  <package id="NetOfficeFw.Word" version="1.9.7" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net47" />
  <package id="System.Drawing.Common" version="9.0.8" targetFramework="net47" />
</packages>